//allbtn is the flex container for the buttons//
//boxmodel is for the individual buttons//
//form-control is for the search box//
//sidebar is the container of the nav and filter selectors //
/*.nav::before {
  position: absolute;
  content: '';
  width: 30vh;
  height: 10vh;
  right: 36%;
  bottom: 440px;
  background: blue;
  opacity:0.6;
}*/

* {
  margin: 0;
}

:root {
  --primary-clr: #F4BA40
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-clr);
  display: flex;
  margin: 3vh 3vh 5vh 5vh;
  width: 140vh;
  /*background: pink;*/
}

.container {
  flex: 5;
}

.form-control {
  width: 100vh;
  height: 5vh;
  font-size: 20px;
  margin: 5vh 3vh -5vh -7vh;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px #888888;
  }

/*  .form-control:active {
//    border: 2px solid white;
  } */

  .allbtn {
    border: 0.5px solid white;
    width: 100vh;
    height: 7vh;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    /*background: green;*/
  }

  .boxmodel {
    border: 0.5px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 100px 5px 5px;
    text-align: rigth;
    font-size: 2,5vh;
    margin: 5px 1px 5px 1px;
    background: var(--primary-clr);
    color: white; 
  }

  .boxmodel:hover {
    font-size: 90%;
    background: gray;
    opacity: 0.6;
  }

.leaflet-container {
  width: 100vh;
  height: 50vh;
  margin-top: 10px;
  border: solid 2px var(--primary-clr);
  border-radius: 10px;
}

/*.aside {
  flex: 2;
}*/

.sidebar {
  display: flex;
  flex-wrap: wrap;  
  width: 50vh;
  height: 10vh;
  text-align: center;
  margin-top: 50px;
  margin-left: -210px;
  margin-right: 1px;
  margin-bottom: -1px;
  padding: 2px;
  /*background: gray;*/
}

.nav {
  margin-top: 5vh;
  margin-left: 5vh;
  /*background: blue;*/
  height: 50vh;
  width: 50vh;
}

h4 {
  font-size: 2vh;
  color: black;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vh;
  color: black;/*var(--primary-clr);*/
  background: #d9d9d9;
  font-size: 2vh;
  margin-top: 4vh;
  margin-left: 20vh;
  margin-right: 10vh;
  margin-bottom: 1vh;
  padding: 1vh;
  border: solid 2px white; /*var(--primary-clr);*/
  border-radius: 10px;
  /*background: yellow;*/
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: wrap;
  width: 140vh;
  /*background: blue;*/
}